{% extends 'base.html' %}
{% block title %}Edit {{ i.name }}{% endblock %}
{% block content %}
<h2>Edit {{ i.name }}</h2>
<form method="post">
    <div class="form-group {{ name_class }}">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" name="name" id="name"
        value="{{ i.name }}" aria-described-by="nameError">
        <div id="nameError" class="help-block">{{ name_error }}</div>
    </div>
    <div class="form-group {{ price_class }}">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price"
        value="{{ i.price }}" aria-described-by="priceError">
        <div id="priceError" class="help-block">{{ price_error }}</div>
    </div>
    <div class="form-group {{ description_class }}">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description"
        rows=6 aria-described-by="descrError">{{ i.description }}</textarea>
        <div id="descrError" class="help-block">{{ description_error }}</div>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image"
        accept="image/png,image/jpg,image/jpeg">
    </div>
    {{ error }}
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}