{% extends 'base.html' %}
{% block title %}Edit {{ i.name }}{% endblock %}
{% block content %}
<h2>Edit {{ i.name }}</h2>
<form method="post" enctype=multipart/form-data>
    <div id="nameGroup" class="form-group">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" name="name" id="name"
        value="{{ i.name }}">
    </div>
    <div id="priceGroup" class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="price" name="price"
        value="{{ i.price }}">
        </div>
    </div>
    <div id="descriptionGroup" class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description"
        rows=6>{{ i.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" class="form-control">
            <option value="1" id="keyboards">Keyboards</option>
            <option value="2" id="keysets">Keysets</option>
            <option value="3" id="switches">Switches</option>
            <option value="4" id="accessories">Accessories</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
// Sets the existing category in the category dropdown
var category = '{{ i .category_id }}';
$("#category").val(category).change();
</script>
{% endblock %}