{% extends 'base.html' %}
{% block title %}New Item{% endblock %}
{% block content %}
<h2>New Item</h2>
<form method="post" enctype=multipart/form-data>
    <div id="nameGroup" class="form-group">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" name="name" id="name"
        value="{{ name }}" aria-described-by="nameError">
        <div id="nameError" class="help-block"></div>
    </div>
    <div id="priceGroup" class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price"
        value="{{ price }}" aria-described-by="priceError">
        <div id="priceError" class="help-block"></div>
    </div>
    <div id="descriptionGroup" class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description"
        rows=6 aria-described-by="descrError">{{ description }}</textarea>
        <div id="descrError" class="help-block"></div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" class="form-control">
            <option value="1" id="keyboards">Keyboards</option>
            <option value="2" id="keysets">Keysets</option>
            <option value="3" id="switches">Switches</option>
            <option value="4" id="accessories">Accessories</option>
        </select>
    </div>
    <div id="imageGroup" class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image"
        accept="image/png,image/jpg,image/jpeg" aria-described-by="imageError">
        <div id="imageError" class="help-block"></div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
// Sets the existing category in the category dropdown
var category = '{{ category_id }}';
$("#category").val(category).change();

// Error handling for form submission
var errorTypes = "{{ error }}";
var nameError = "We need a name!"
var priceError = "We need a price!"
var descriptionError = "We need a description!"
var imageError = "We need an image of a valid type!"

if (errorTypes.indexOf("name") != -1) {
    $("#nameGroup").addClass("has-error");
    $("#nameError").append(nameError);
}

if (errorTypes.indexOf("price") != -1) {
    $("#priceGroup").addClass("has-error");
    $("#priceError").append(priceError);
}

if (errorTypes.indexOf("description") != -1) {
    $("#descriptionGroup").addClass("has-error");
    $("#descrError").append(descriptionError);
}
if (errorTypes.indexOf("image") != -1) {
    $("#imageGroup").addClass("has-error");
    $("#imageError").append(imageError);
}
</script>
{% endblock %}