{% extends 'base.html' %}
{% block title %}New Item{% endblock %}
{% block content %}
<h2>New Item</h2>
<form method="post" enctype=multipart/form-data>
    <div id="nameGroup" class="form-group">
        <label for="name">Item Name</label>
        <input type="text" class="form-control" name="name" id="name"
        value="{{ name }}">
    </div>
    <div id="priceGroup" class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price"
        value="{{ price }}">
    </div>
    <div id="descriptionGroup" class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description"
        rows=6>{{ description }}</textarea>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" class="form-control">
            <option value="1" id="keyboards">Keyboards</option>
            <option value="2" id="keysets">Keysets</option>
            <option value="3" id="switches">Switches</option>
            <option value="4" id="accessories">Accessories</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
// Sets the existing category in the category dropdown
var category = '{{ category_id }}';
$("#category").val(category).change();
</script>
{% endblock %}